body{
    background-image:url("../img/smile!.png");
    color:darkred;
}
h1{
    color:rgb(255, 247, 0);
    text-align: center;
}
h5{
    font-size: 30px;
    text-align: center;
}
p{
    font-size: 30px;
    text-align: center;
    position: absolute;
    transform: (5000px,980px);
}